@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Result">
    <label for="fName">First Name:</label>
    <input type="text" name="fName" id="fName" required />

    <label for="lName">Last Name:</label>
    <input type="text" name="lName" id="lName" required />

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="6" />

    <select name="Flavor" id="Flavor">
        <option value="Black Coffee">Black Coffee</option>
        <option value="Peppermint">Peppermint</option>
        <option value="Caramel">Caramel</option>
        <option value="Cold Brew">Cold Brew</option>
    </select>

    <input type="submit" />
</form>