@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string name = "Justin";
}
<h1>About</h1>
<p>My name is @name</p>
<p>Lorem ISPUM</p>